In [46]:
import pandas as pd
import openpyxl
from pymongo import MongoClient
import pymysql
import streamlit as st

In [47]:
# read the excel file and convert it into DataFrames
df = pd.read_excel(r"C:\Users\HP\Desktop\census_2011.xlsx")
#print(df)

In [48]:
# rename the columns
df = df.rename(columns = {'State name' : 'State_UT',
    'District name' : 'District',
    'Male_Literate' : 'Literate_Male',
    'Female_Literate' : 'Literate_Female',
    'Rural_Households' : 'Households_Rural',
    'Urban_Households' : 'Households_Urban',
    'Age_Group_0_29' : 'Young_and_Adult',
    'Age_Group_30_49' : 'Middle_Aged',
    'Age_Group_50' : 'Senior_Citizen',
    'Age not stated' : 'Age_Not_Stated'    
})
#print(df)

In [49]:
def standardize_column_names(name):
    # Replace '&' with 'and'
    name = name.replace("&", "and")
    
    # Split the name into words
    words = name.split()    
    # Create an empty list to store the standardized words
    standardized_words = []
    
    # Iterate over each word and apply the transformation
    for word in words:
        # If the word is "and", keep it lowercase
        if word.lower() == 'and':
            standardized_words.append(word.lower())
        else:
            # Otherwise, capitalize the first letter and lowercase the rest
            standardized_words.append(word.capitalize())
    
    # Join the words back into a string
    return " ".join(standardized_words)

# Apply the function to a specific column
df['State_UT'] = df['State_UT'].apply(standardize_column_names)   
#print(df)

In [50]:
# read the Telengana districts 
with open(r"C:\Users\HP\Desktop\Telengana.txt.txt", 'r') as file:
    # Reading the file line by line
    for line in file:
        # Stripping any leading/trailing whitespace or newline characters
        district = line.strip()
        
        # Now you can use the 'district' variable to process each district one by one
        #print(district)
        df.loc[df['District'] == district, 'State_UT'] = 'Telengana'
        #print(df)

In [51]:
Ladakh_dt = ['Leh(Ladakh)','Kargil']
for dt in Ladakh_dt:
    df.loc[df['District'] == dt, 'State_UT'] = 'Ladakh'
#print(df)

In [52]:
# Function to calculate missing percentage for each column
def missing_percentage(df):
    return df.isnull().mean() * 100

# Find and store the percentage of missing data for each column before filling
missing_before = missing_percentage(df)
# Calculate missing values based on other columns
df['Population'] = df['Male'] + df['Female']

df['Literate'] = df['Literate_Male'] + df['Literate_Female']

df['Population'] = df['Young_and_Adult'] + df['Middle_Aged'] + df['Senior_Citizen'] + df['Age_Not_Stated']

df['Households'] = df['Households_Rural'] + df['Households_Urban']

#Recalculate the missing percentage after filling the missing values
missing_after = missing_percentage(df)

In [54]:
# ✅ Connect to MongoDB Atlas
client = MongoClient("mongodb+srv://dbUser:root1234@cluster0.lapepqe.mongodb.net/")

# ✅ Choose database and collection
db = client["myDatabase"]
collection = db["census"]

data_dict = df.to_dict("records")
collection.insert_many(data_dict)
#print("Data inserted successfully into 'census' collection.")

documents = list(collection.find())

# Print each document
# for doc in documents:
#     print(doc)

In [55]:
df = pd.DataFrame(documents)

# Remove the MongoDB '_id' field
if '_id' in df.columns:
    df.drop(columns=['_id'], inplace=True)

df = df.fillna(0)

host_name = "localhost"
user_name = "root"
pwd = "1234"
port = 3306
target_db = 'myDB'

mysql_conn = pymysql.connect(
    host=host_name,
    user=user_name,
    password=pwd,    
    port=port
)
cursor = mysql_conn.cursor()

# Step 2: Create DB if it doesn't exist
cursor.execute(f"CREATE DATABASE IF NOT EXISTS {target_db}")
cursor.execute(f"USE {target_db}")
print(f"✅ Using database: {target_db}")

# --------------------------
# Create table from DataFrame
# --------------------------
table_name = "census"
cursor.execute(f"DROP TABLE IF EXISTS `{table_name}`;")

# Dynamically create table schema based on df, truncate column names to 64 characters
create_table_query = f"CREATE TABLE `{table_name}` ("
for col in df.columns:
    # Truncate column names to 64 characters max
    truncated_col = col[:64]  # Truncate the column name to 64 characters

    dtype = df[col].dtype
    if truncated_col.lower() == "id":
        sql_type = "INT PRIMARY KEY"
    elif dtype == "int64":
        sql_type = "INT"
    elif dtype == "float64":
        sql_type = "FLOAT"
    else:
        sql_type = "VARCHAR(255)"
    
    create_table_query += f"`{truncated_col}` {sql_type}, "
create_table_query = create_table_query.rstrip(", ") + ");"
cursor.execute(create_table_query)

# --------------------------
# Insert Data into MySQL
# --------------------------
for _, row in df.iterrows():
    # Truncate column names while inserting data
    cols = ', '.join(f"`{col[:64]}`" for col in row.index)  # Ensure column names are truncated
    placeholders = ', '.join(['%s'] * len(row))
    insert_sql = f"INSERT INTO `{table_name}` ({cols}) VALUES ({placeholders})"
    cursor.execute(insert_sql, tuple(row))

# Commit and close
mysql_conn.commit()
cursor.close()
mysql_conn.close()
print(f"✅ Data inserted into `{table_name}` in `{target_db}`.")

✅ Using database: myDB
✅ Data inserted into `census` in `myDB`.